<div id="<%= dom_id list %>">
  <p>
    <strong>User:</strong>
    <%= list.user_id %>
  </p>

  <p>
    <strong>Section:</strong>
    <%= list.section_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= list.title %>
  </p>

  <p>
    <strong>Archived:</strong>
    <%= list.archived %>
  </p>

</div>
