<p style="color: green"><%= notice %></p>
<h1><%= @list.title %></h1>
<%= link_to "Sort by deadline", list_path(id: @list.id, sort: "d"), class: "btn btn-primary" %>
<%= link_to "Sort by important", list_path(id: @list.id, sort: "i"), class: "btn btn-primary" %>


<h2>Items:</h2>
<% @items.each do |item| %>
  <div class="mb-5">
    <%= render item %>
    <%= link_to "Show this item", item %>
  </div>
<% end %>

<div>
  <% if !@list.archived %>
    <%= link_to "Share this list", new_permission_path(id: @list.id) %> |
  <% end %>
  <%= link_to "Edit this list", edit_list_path(@list) %> |
  <%= link_to "Add item", new_item_path(list_id: @list.id) %>

  <% if @list.archived && @list.user.id == current_user.id %>
    <%= button_to "Destroy this list", @list, method: :delete %>
  <% end %>
</div>
