<p style="color: green"><%= notice %></p>

<h1><%= @section.title %></h1>
<h2>Lists:</h2>

<% @lists.each do |list| %>
  <%= render list %>
  <p>
    <%= link_to "Show this list", list %>
  </p>
<% end %>

<div>
  <%= link_to "Edit this section", edit_section_path(@section) %> |
  <%= link_to "Back to sections", sections_path %>

  <%= button_to "Destroy this section", @section, method: :delete %>
</div>
