<div id="<%= dom_id item %>">
  <p>
    <strong>List:</strong>
    <%= item.list.title %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= item.title %>
  </p>

  <p>
    <strong>Important:</strong>
    <%= item.important %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= item.deadline %>
  </p>

</div>
