<%= form_with(model: permission) do |form| %>
  <% if permission.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(permission.errors.count, "error") %> prohibited this permission from being saved:</h2>

      <ul>
        <% permission.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :permissable_type, style: "display: block" %>
    <%= select_tag(:permissible_type, options_for_select([['User', 'User'], ['Group', 'Group']])) %>
  </div>

  <div id="permissableDiv">
    <%= form.label :permissable_id, style: "display: block" %>
    <%= select_tag(:permissable_id, options_from_collection_for_select(@users, 'id', 'email')) %>
  </div>

  <div>
    <%= form.hidden_field :list_id, value: @list.id %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :canRead, style: "display: block" %>
    <%= form.check_box :canRead %>
  </div>

  <div>
    <%= form.label :canUpdelete, style: "display: block" %>
    <%= form.check_box :canUpdelete %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
