<div id="<%= dom_id permission %>">
  <p>
    <strong>Permissable:</strong>
    <%= permission.permissable_id %>
  </p>

  <p>
    <strong>List:</strong>
    <%= permission.list_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= permission.title %>
  </p>

  <p>
    <strong>Canread:</strong>
    <%= permission.canRead %>
  </p>

  <p>
    <strong>Canupdelete:</strong>
    <%= permission.canUpdelete %>
  </p>

  <p>
    <strong>Permissabletype:</strong>
    <%= permission.permissableType %>
  </p>

</div>
